*{
    list-style: none;
    text-decoration: none;
}

html{
    overflow-y: scroll;
    scrollbar-color: #000000 #e6e9c4 ;
    scrollbar-width: thin;
}

a{
    text-decoration: none;
    color: inherit;
}

.body-main{
    background-image: url('/static/img/background2.png');    
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    height: 100vh;
    @media screen and (max-width: 560px) {
        background-image: url('/static/img/backgroundtel.png'); 
    }
}

.header-wrapper{
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}



.header-item-para{
    font-family: Merriweather;
    font-size: 20px;
}
.header-item-para:hover{
    color: #7fa85a;
}

.header-item-para2:hover{
    color: #f8f9ed;
}

.main{
    display: flex;
    justify-content: center;
    height: 73vh;
    align-items: center;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-heading{
    font-family: Poppins;
    font-size: 130px;
    line-height: 90%;
    font-weight: 320;
}

.main-para{
    font-family: Merriweather;
    font-size: 20px;
}


.main-btn-wrapper{
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
}

.main-btn{
    background-color: #ffffff00;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Merriweather;
    margin-right: 7px;
}

.main-btn:hover{
    background-color: #f8f9ed;
    border-color: #7fa85a;
    color: #7fa85a;
}


.about-body{
    background-color: #f8f9ed;
}

.about-main{
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
    @media screen and (max-width: 560px) {
        width: 99vw;
     }
}

.words{
    display: flex;
    width: 80vw;
    justify-content: flex-start;
    margin-left: 10vw;
    margin-top: 13vh;
}

.words-header{
    font-family: Poppins;
    font-size: 20px;
   
}
.about-main-wrapper{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 560px) {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
     }
}

.about-second-wrapper{
    width: 80%;
    background-color: #e6e9c4;
/*     border: 2px solid black; */
    border-radius: 30px; 
    padding: 10px 20px;
    height: fit-content;
/*     padding-top: 10vh; */
}

.about-third-wrapper{
    max-width: 80%;
    padding: 20px 20px;
    max-width: 20vw;
    margin-left: 20px;
    @media screen and (max-width: 560px) {
        width: 99vw;
        margin-left: 0px;
        padding: 0px;
        margin-top: 10vh;
        margin-bottom: 10vh;
     }
/*     padding-top: 10vh; */
}

.about-main-text{
    font-family: Merriweather;
    font-size: 20px;
}

.about-main-text2{ 
    font-size: 16px;
    @media screen and (max-width: 560px) {
      width: 80vw;
      font-size: 20px;
      text-align: center;
     }
}

.about-main-btn{
    background-color: #ffffff00;
    font-family: Merriweather;
    border: 2px solid black;
    border-radius: 30px;
    padding: 8px 17px;
    margin-top: 17vh;
   /* display: flex; */
   @media screen and (max-width: 560px) {
    padding: 8px 17px;
    margin-top: 3vh;
   }
}

.about-main-btn:hover{
  /*  background-color: #7fa85a; */
  background-color: #7fa85a;
   color: #f4f5fb;
   border-color: #7fa85a;
   /* border-color: #7fa85a; */

}

.about-timeline{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: start;
    margin-top: 20vh;
    margin-bottom: 20vh;
    @media screen and (max-width: 564px) {
       flex-direction: column;
       justify-content: center;
    }
}

.versions-wrapper{
    background-color:#e6e9c4;
    border-radius: 20px;
    padding: 20px 20px;
    margin-left: 5vw;
    width: 30vw;
    @media screen and (max-width: 560px) {
        width: 90vw;
        margin-top: 10vh;
    }
}

.versions-main{
    font-family: Poppins;
    font-size: 20px;
}

.versions-main{
    line-height: 50%;
}

/* .versions-item{
    @media screen and (max-width: 560px) {
       display: flex;
       justify-content: center;
        flex-direction: column;
     }
} */

.usage{
    font-family: Merriweather;
    font-size: 12px;
    color: #7fa85a;
    margin-bottom: 0px;
}

.versions-para{
    font-family: Merriweather;
    font-size: 16px;
}

.versions-item2{
    margin-top: 20px;
}

.timeline-img{
    width: 40vw;
    @media screen and (max-width: 700px) {
        width: 50vw;
    }
    @media screen and (max-width: 560px) {
        width: 80vw;
        margin-left: 7vw;
    }
}



.contact-body{
    background-color: #f8f9ed;
}

.contact-masonry{
    display: flex;
    justify-content: center;
}

.masonry-container{
    max-width: 60vw;
    column-count: 3; 
    @media screen and (max-width: 560px) {
       column-count: 1;
    }
}

.masonry-item{
    display: inline-block;
    width: 100%;
    background-color: #e6e9c4;
    margin-top: 20px;
    margin-right: 0px;
    border-radius: 18px;
}

.masonry-div{
    max-width: 100%;
    height: 300px;
}

.masonry-nothing{
    @media screen and (max-width: 564px) {
        display: none;
     }
}

.masonry-blue{
    background-color:  #e6e9c4;
    border-radius: 18px;
    display: inline-block;
    width: 100%;
}

.masonry-2-blue{
    background-color: #e6e9c4;
    border-radius: 18px;
}

.masonry-white{
    background-color:  #e6e9c4;
    border-radius: 18px;
    display: inline-block;
    width: 100%;
}

.masonry-1{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 26px;
}

.masonry-2{
    max-height: 290px;
}

.masonry-3{
    padding-top: 50px;
    padding-left: 26px;
    max-height: 200px;
}

.masonry-5{
    padding-top: 50px;
    padding-left: 26px;
    max-height: 250px;
}

.masonry-7{
    max-height: 200px;
}

.contact-main{
    font-family: Poppins;
}

.contact-inf{
    font-family: Merriweather;
}



.tutorial-body{
    background-color: #f8f9ed;
}


.joi-architecture{
    margin-top: 50px;
}

.architecture-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.architecture-img{
    max-width: 50vw;
}

.questions-container{
    width: 100%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 562px) {
  width: 30vw;
  flex-direction: column;
    }
}

.questions-subcontainer{
    width: 70vw;
}

.questions-section{
    margin-top: 80px;
}

.questions-wrapper{
    row-gap: 20px;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 560px) {
        flex-direction: column;
    }
}

.btn2{
    background-color: #e6e9c4;
    border-color: #e6e9c4;
    color: #000000;
    font-family: Merriweather;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.btn2:hover{
    background-color: #7fa85a;
    border-color: #7fa85a;
    color: #000000;
    font-family: Merriweather;
}


.btn3{
    background-color: #ffd82b00;
    border-color: #000000;
    color: #000000;
    font-family: Merriweather;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 20px;
    width: fit-content;
}

.gap-1{
    @media screen and (max-width: 560px) {
    }
}


.feedback{
    background-color: #7fa85a;
    margin-top:100px;
    display: flex;
    justify-content: center;
}

.feedback-div{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;
}

.feedback-para{
    font-family: poppins;
    font-size: 20px;
}

.feedback-btn{
    background-color: #ffffff00;
    font-size: 18px;
    font-family: Merriweather;
    border: 2px solid black;
    border-radius: 20px;
    padding: 6px 12px;
}


.feedback-btn:hover{
    background-color: #e6e9c4;
    font-size: 18px;
    color: black;
    font-family: Merriweather;
    border: 2px solid #e6e9c4;
    border-radius: 20px;
    padding: 6px 12px;
}

.feedback-input-area{
        flex-grow: 1;
        padding: 8px;
        border: 2px solid black;
        border-radius: 20px;
        margin-right: 10px;
        background-color: #7ea85a00;
}